In [1]:
import pandas as pd

In [2]:
ca1 = pd.read_csv('ca1.csv')
ca2 = pd.read_csv('ca2.csv')
ca3 = pd.read_csv('ca3.csv')
ca4 = pd.read_csv('ca4.csv')
tx1 = pd.read_csv('tx1.csv')
tx2 = pd.read_csv('tx2.csv')
tx3 = pd.read_csv('tx3.csv')
wi1 = pd.read_csv('wi1.csv')
wi2 = pd.read_csv('wi2.csv')
wi3 = pd.read_csv('wi3.csv')

In [3]:
ca1 = ca1[ca1['id'].apply(lambda x: 'validation' in x)]
ca2 = ca2[ca2['id'].apply(lambda x: 'validation' in x)]
ca3 = ca3[ca3['id'].apply(lambda x: 'validation' in x)]
ca4 = ca4[ca4['id'].apply(lambda x: 'validation' in x)]
tx1 = tx1[tx1['id'].apply(lambda x: 'validation' in x)]
tx2 = tx2[tx2['id'].apply(lambda x: 'validation' in x)]
tx3 = tx3[tx3['id'].apply(lambda x: 'validation' in x)]
wi1 = wi1[wi1['id'].apply(lambda x: 'validation' in x)]
wi2 = wi2[wi2['id'].apply(lambda x: 'validation' in x)]
wi3 = wi3[wi3['id'].apply(lambda x: 'validation' in x)]

total = pd.concat([ca1,ca2,ca3,ca4,tx1,tx2,tx3,wi1,wi2,wi3])

In [4]:
submission = pd.read_csv('sample_submission.csv')

In [5]:
submission = submission[['id']].merge(total, on=['id'], how='left').fillna(0)
submission.head()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_validation,0.731548,0.602239,0.576259,0.576259,0.666763,0.697927,0.774618,0.594270,0.830136,...,0.806885,1.106005,0.947998,0.733280,0.668994,0.719955,0.794372,0.804980,0.975345,1.026307
1,HOBBIES_1_002_CA_1_validation,0.376810,0.303342,0.303342,0.272026,0.324737,0.380480,0.359634,0.228535,0.184988,...,0.194359,0.255898,0.255898,0.191076,0.147530,0.211995,0.193752,0.260636,0.322175,0.305629
2,HOBBIES_1_003_CA_1_validation,0.375067,0.339015,0.339015,0.339015,0.380218,0.413324,0.536349,0.242370,0.178740,...,0.386299,0.494699,0.660418,0.561596,0.525162,0.529476,0.424375,0.458612,0.619648,0.592640
3,HOBBIES_1_004_CA_1_validation,1.919946,1.550575,1.452377,1.363488,1.840536,2.098127,2.151473,1.653069,1.735034,...,1.896736,2.198817,2.480596,1.974562,1.636800,1.586907,1.605151,1.934252,2.794098,2.614505
4,HOBBIES_1_005_CA_1_validation,0.950043,0.776254,0.970959,1.094025,1.164783,1.426780,1.693477,1.264129,1.177177,...,1.171127,1.432277,1.425666,0.977890,0.919709,0.919709,0.912857,1.124896,1.453151,1.611990

In [6]:
submission.to_csv('my_submit.csv', index = False)

test score 0.71584

In [7]:
sub2 = pd.read_csv('base_v2.csv')

In [8]:
sub_ans = submission.iloc[:,1:] * 0.5 + sub2.iloc[:,1:] * 0.5
sub_final = pd.concat([submission['id'], sub_ans], axis=1)
sub_final.to_csv('sub_final.csv', index = False)

test score 0.67953

In [26]:
import re

In [47]:
a = sub2[sub2['id'].apply(lambda x: len(re.findall('CA_1|CA_3|WI_2', x)) == 0)]
b = submission[submission['id'].apply(lambda x: len(re.findall('CA_1|CA_3|WI_2', x)) > 0)]

total_sub = pd.concat([a,b]).sort_index()
total_sub.to_csv('combo_sub.csv', index = False)

test score 0.67020